**/__pycache__/
.venv/
.pytest_cache/

.DS_Store

artifacts/filter_sessions_process.log
artifacts/filter_sessions_range_history_enriched.csv
artifacts/filter_sessions_range_history_newton.csv
artifacts/filter_sessions_process_em.log
artifacts/filter_sessions_range_history_enriched_em.csv
artifacts/filter_sessions_range_history_em.csv

stale/